node_modules
/.svelte-kit
/package
**/.env
!.env.public
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
.github/
tests/
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.editorconfig
.idea
.vscode/
.DS_Store
dist/
